
<div class="container">
  <p>You can chat to him here:</p>
  <form action="answer" data-turbo="false">
    <input class="form-control" type="text" name="ask" >
    <input class="btn btn-primary" type="submit" value="Go!">
  </form>
</div>
